<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
    </header>
    <main role="main" class="">
      <%= if get_flash(@conn, :error) do %>
        <div class="mx-auto pt-10 px-4 max-w-4xl">
          <p class="alert alert-danger bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <%= get_flash(@conn, :error) %>
          </p>
        </div>
      <% end %>
      <div class="flex">
        <div class="w-full mx-auto mt-10 px-4 sm:mt-12 sm:px-6 lg:mt-20 lg:px-9 xl:mt-28">
          <div class="sm:text-center lg:text-center">
            <h1 class="text-center text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
              URL Shortener
            </h1>
          </div>
        </div>
      </div>
      <div class="flex mt-10">
        <div class="w-full mx-auto max-w-4xl">
          <%= @inner_content %>
        </div>
      </div>
    </main>
  </body>
</html>
